<font size="+5">#04 | Hyperparameter Tuning with Cross Validation</font>

- Subscribe to my [Blog â†—](https://blog.pythonassembly.com/)
- Let's keep in touch on [LinkedIn â†—](www.linkedin.com/in/jsulopz) ðŸ˜„

# Discipline to Search Solutions in Google

> Apply the following steps when **looking for solutions in Google**:
>
> 1. **Necesity**: How to load an Excel in Python?
> 2. **Search in Google**: by keywords
>   - `load excel python`
>   - ~~how to load excel in python~~
> 3. **Solution**: What's the `function()` that loads an Excel in Python?
>   - A Function to Programming is what the Atom to Phisics.
>   - Every time you want to do something in programming
>   - **You will need a `function()`** to make it
>   - Theferore, you must **detect parenthesis `()`**
>   - Out of all the words that you see in a website
>   - Because they indicate the presence of a `function()`.

# Load the Data

> - The goal of this dataset is
> - To predict if **bank's customers** (rows) `default` next month
> - Based on their **socio-demographical characteristics** (columns)

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls'
df = pd.read_excel(io=url, header=1, index_col=0)
df.sample(10)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,,,,
24857,210000,1,2,2,47,-2,-2,-2,-2,-2,-2,-163,-163,-163,-65167,-168,2999,0,0,5530,84332,21500,30000,1
14733,340000,2,2,2,43,0,0,2,0,0,0,106867,117152,113312,114379,113627,112193,12002,0,4387,4634,4519,2402,0
328,60000,2,2,1,34,2,2,2,2,2,0,24898,27976,27233,30184,29566,30225,3800,0,3720,0,1300,1291,1
15344,300000,2,2,1,31,0,0,0,-1,-1,-1,5361,2700,3822,1103,1622,-1,1060,1182,1108,1630,0,0,0
26349,170000,2,1,2,31,-2,-2,-2,-2,-2,-2,757,4319,1489,362,451,620,4319,1499,362,451,620,1400,0
8212,390000,1,1,1,34,0,0,0,-1,0,0,91701,68587,101211,96725,125810,182122,60081,84908,121081,80000,85000,8000,0
1624,170000,1,2,2,36,-1,-1,-1,-1,-1,-1,2104,2074,10719,12654,25784,19950,2081,10725,12654,25784,19950,200,0
10765,50000,2,1,2,24,0,0,2,0,0,0,52227,55264,52028,32140,32216,31482,5350,0,1085,2000,1226,2415,0
3747,250000,1,3,1,39,-1,-1,-1,-1,-1,-2,1976,3314,0,800,3576,0,3318,0,800,3576,0,0,0
17394,100000,2,3,1,46,2,2,2,2,2,2,43677,42674,45983,46927,47759,46865,0,4000,2000,1900,0,2000,1

# `DecisionTreeClassifier()` with Default Hyperparameters

## Accuracy

> In `train` data

> In `test` data

## Model Visualization

> - `plot_tree()`

# `DecisionTreeClassifier()` with Custom Hyperparameters

In [2]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/7VeUPuFGJHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

> - The `model` has this hyperparameters â†“

In [3]:
model = DecisionTreeClassifier()

NameError: name 'DecisionTreeClassifier' is not defined

In [ ]:
model.get_params()

## 1st Configuration

### Accuracy

> In `train` data

> In `test` data

### Model Visualization

> - `plot_tree()`

## 2nd Configuration

## 3rd Configuration

## 4th Configuration

## 5th Configuration

# `GridSearchCV()` to find Best Hyperparameters

> - How many scores for each fold?

<img src="src/grid_search_cross_validation.png" style="margin-top: 100px"/>

# Other Models

## Support Vector Machines `SVC()`

In [3]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/efR1C6CvhmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## `KNeighborsClassifier()`

In [ ]:
%%HTML
<iframe width="560" height="315" src="https://www.youtube.com/embed/HVXime0nQeI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

# Best Model with Best Hyperparameters